

.MainLayoutHeader{
    height : 10vh;
    /*width: 100vw;*/
    width: auto;
    background-color: #b2afaf;
    grid-row: 1;
    grid-column: span;

}

.MainLayoutWrapper{
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); !* Define grid columns *!*/
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*width: 100vw;*/
    /*height: 100vh;*/

}

.One{
    grid-column: 1;
    grid-row: 1/10;
    max-width: 100px;
}
.Two{
    grid-column: 2;
    grid-row: 2;
}
.MainLayoutText{

    text-align: center;
}

.CookieProvider{
    /*position: relative;*/
    /*left: 15vw;*/
    /*top: 60px;*/
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); !* Define grid columns *!*/
    /*grid-auto-rows: minmax(100px, auto);*/
    /*display: grid;*/
}


/*.container {*/
/*    display: grid;*/
/*    grid-template-rows: 10% 1fr; !* The first row takes 10% of the height *!*/
/*    grid-template-columns: 10% 1fr; !* The first column takes 10% of the width *!*/
/*    height: 100vh; !* Set the height of the container to the full viewport height *!*/
/*    width: 100%; !* Set the width of the container to the full viewport width *!*/
/*}*/

/*.header {*/
/*    grid-row: 1 / 2; !* The header spans the first row *!*/
/*    grid-column: 1 / -1; !* The header spans all columns *!*/
/*}*/

/*.sidebar {*/
/*    grid-row: 2 / 1; !* The sidebar spans the second row *!*/
/*    grid-column: 1 / -1; !* The sidebar spans the first column *!*/
/*    max-width: 100px;*/
/*}*/

/*.main {*/
/*    grid-row:  2; !* The main content spans the second row *!*/

/*    grid-column:  2; !* The main content spans the second column *!*/
/*    !*display: grid;*!*/
/*}*/

/*.child-container {*/
/*    display: grid;*/
/*    grid-template-rows: 1fr; !* The child container takes up all available vertical space *!*/
/*    grid-template-columns: 10% 1fr; !* The first column takes 10% of the width *!*/
/*    grid-template-areas:*/
/*    "sidebar content"; !* Reference the names of the grid areas from the parent grid *!*/
/*}*/

/*.sidebar {*/
/*    grid-area: sidebar; !* Place the sidebar in the grid area named "sidebar" *!*/

/*}*/

/*.content {*/
/*    grid-area: content; !* Place the main content in the grid area named "content" *!*/

/*}*/