

.bank-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #5f605d;
    position: relative;
    grid-auto-flow: column;


}

.bank-item{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: grid;


}

.bank-item:hover{
    background-color: #b2afaf;
}

.bank-text{
    position: relative;
    bottom: 20px;
    left: 20px;
    color: rgb(253, 251, 251);
}

