

.bank-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #5f605d;
    position: relative;
    grid-auto-flow: column;
    gap: 10px;
}

.bank-item{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: grid;
}

.bank-item:hover{
    background-color: #b2afaf;
}

.bank-text{
    position: relative;
    bottom: 22px;
    left: 22px;
    color: rgb(253, 251, 251);
    text-align: center;
    display: inline-flex;
    font-size: 20px;

}


.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipText{
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.bank-item:hover .tooltipText{
    visibility: visible;
}
