
.skill-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define grid columns */
    grid-auto-rows: minmax(100px, auto);
}



.skillItem-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Define grid columns */
    position: relative;
    left: 200px;
    bottom:150px;
}


.skill-item{
    image-rendering: high-quality;
    padding: 2px;
    max-width: 100px;
    cursor: pointer;
    position: relative;



}

.skill{
    image-rendering: high-quality;
    padding: 2px;
    max-width: 100px;
    cursor: pointer;
    max-height: 25px;
}

.skill:hover{
    background-color: #b2afaf;
}
.skill-item:hover{
    background-color: #b2afaf;
}

.skill-name{
    position: relative;
    bottom: 30px;
    left: 25px;

}

.skill-text{
    position: relative;
    bottom: 30px;
    left: 25px;
}

