
.skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    justify-items: center;
    align-items: center;
    background-color: #5f605d;
    max-width: 80vw;
}



.skillItem-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    position: relative;
    left: 200px;
    bottom:150px;

}


.skill-item{
    padding: 2px;
    cursor: pointer;
    width: 75px;
    height:75px;
    display: grid;
}

.skill{
    padding: 2px;
    display: grid;
    justify-items: left;
    cursor: pointer;
    max-height: 25px;
    background-color: #383838;
}

.skill:hover{
    background-color: #b2afaf;
}
.skill-item:hover{
    background-color: #b2afaf;
}

.skillItem-text:hover{
    background-color: #b2afaf;
}

.skill-name{
    position: relative;
    bottom: 30px;
    left: 25px;
}

.skill-text{
    position: relative;
    bottom: 30px;
    left: 25px;
    color: rgb(253, 251, 251);

}

.skillItem-text{
    position: relative;
    display: grid;
    justify-items: center;
    font-size: 25px;
    right: 2px;
    bottom: 2px;
    color: rgb(253, 251, 251);
    background-color: #383838;
}

.skill-image{
    position: relative;
    width: 25px;
    height: 25px;
    right: 4px;
    vertical-align: center;
    horiz-align: center;

}

